<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">Student Name</label>
                        <input type="text" class="form-control" name="studentname" [(ngModel)]="studentname">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">Club Name</label>
                    <input type="text" class="form-control" name="clubname" [(ngModel)]="clubname">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">Club Colour</label>
                    <input type="text" class="form-control" name="clubcolour" [(ngModel)]="clubcolour">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">Moto</label>
                    <input type="text" class="form-control" name="moto" [(ngModel)]="moto">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <button class="btn btn-success" (click)="readValues()">SUBMIT</button>
                </div>
            </div>
        </div>
    </div>
</div>